@import url('https://fonts.googleapis.com/css2?family=Mali&family=Itim:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--font-bold: 500;
	--font-normal: 400;
	--font-light: 300;
	--line-height: 1.8;

	font-family: 'Itim', monospace;
	font-size: 16px;
	font-weight: var(--font-normal);
	line-height: var(--line-height);

	color: #292929;
	text-align: center;

	font-synthesis: none;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
}

body {
	display: flex;
	flex-direction: column;
	place-items: center;
	overflow: hidden;

	width: 100vw;
	height: 100vh;
	padding: 1rem 2rem;
	gap: 1rem;
}

h1 {
	font-size: 2rem;
	line-height: 1.5;
	font-weight: var(--font-bold);
}

h2 {
	font-size: 1.5rem;
	line-height: 1;
	font-weight: var(--font-bold);
}

h3 {
	font-size: 1.25rem;
	line-height: 1;
	font-weight: var(--font-bold);
}

h4 {
	font-size: 1.125rem;
	line-height: 1;
	font-weight: var(--font-bold);
}

h5 {
	font-size: 1rem;
	line-height: 1;
	font-weight: var(--font-bold);
}

h6 {
	font-size: 1rem;
	line-height: 1;
	font-weight: var(--font-normal);
}

p {
	font-size: 1rem;
	font-weight: var(--font-normal);
	line-height: var(--line-height);
}

button {
	font-size: 0.875rem;
	font-weight: var(--font-bold);
	line-height: var(--line-height);
}

caption {
	font-size: 0.875rem;
	font-weight: var(--font-normal);
	line-height: var(--line-height);
}

.text-body-1 {
	font-size: 1rem;
	font-weight: var(--font-normal);
	line-height: var(--line-height);
}

.text-body-2 {
	font-size: 1rem;
	font-weight: var(--font-light);
	line-height: var(--line-height);
}

.text-body-3 {
	font-size: 1rem;
	font-weight: var(--font-bold);
	line-height: var(--line-height);
}

.text-subtitle-1 {
	font-size: 0.875rem;
	font-weight: var(--font-normal);
	line-height: var(--line-height);
}

.text-subtitle-2 {
	font-size: 0.875rem;
	font-weight: var(--font-light);
	line-height: var(--line-height);
}

.text-button {
	font-size: 0.875rem;
	font-weight: var(--font-bold);
	line-height: var(--line-height);
}

.text-caption {
	font-size: 0.875rem;
	font-weight: var(--font-normal);
	line-height: var(--line-height);
}

.border-sketch {
	border-top-left-radius: 225px 15px;
	border-top-right-radius: 15px 225px;
	border-bottom-right-radius: 225px 15px;
	border-bottom-left-radius: 15px 255px;
}
